<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜寻</title>
</head>
<body>
<form action="/goods/add/" method="POST">
    <p><input type="search" id="search" name="search"></p>
    <p><input type="search" id="goodname" name="goodname"></p>
    <p><input type="search" id="price" name="price"></p>
    <p><input type="search" id="cost" name="cost"></p>
    <p><input type="search" id="type" name="type"></p>
    <p><input type="search" id="QGP" name="QGP"></p>
    <p><input type="search" id="note" name="note"></p>
    <button type="submit">提交</button>
</form>
</body>
</html>